
<div class="container fill-height">

  <div class="row">

    <!-- 轮播 -->
    <div class="col-lg-12" style="padding-bottom: 0px;padding-top: 0px">
    <div id="myCarousel" class="carousel slide">
      <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <%= link_to image_tag("i.jpg",width: 1280 , height: 440), image_path("http://www.bmeonline.cn/")%>
          <div class="carousel-caption">欢迎</div>
        </div>
        <div class="item">
          <%= link_to image_tag("ii.jpg",width: 1280 , height: 440),  image_path("http://share.bmeonline.cn/")%>
          <div class="carousel-caption">“三二一”总体布局</div>
        </div>
        <div class="item">
          <%= link_to image_tag("iii.jpg",width: 1280 , height: 440), image_path("http://www.bmeonline.cn/oj")%>
          <div class="carousel-caption">云端开发，自动计算</div>
        </div>
      </div>
      <!-- 轮播（Carousel）导航 -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    </div>
  </div>
<hr>
<div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        关于生医计算云预约系统
      </div>
    </div>

  </div>
<div class="row">
    <div class="col-md-4 text-center">
      <h2>用户指南</h2>
      <p>国科大CourseSelect计划二次开发</p>
      <p>选课系统般的便捷使用</p>
      <a class="btn btn-primary" href="http://share.bmeonline.cn/admin-and-development/CloudSelect/wikis/%E7%94%9F%E5%8C%BB%E8%AE%A1%E7%AE%97%E4%BA%91%E9%A2%84%E7%BA%A6%E7%B3%BB%E7%BB%9F%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97">了解更多</a>
    </div>

    <div class="col-md-4 text-center">
      <h2>开发者介绍</h2>
      <p>东南大学“Site-428”SRTP项目组</p>
      <p>生物医学工程学院开发之家</p>
      <a class="btn btn-success" href="http://www.bmeonline.cn/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac/">欢迎访问</a>
    </div>

    <div class="col-md-4 text-center">
      <h2>代码仓库</h2>
      <p>本项目以MIT授权许可开源</p>
      <p>欢迎发issue或Fork</p>
      <a class="btn btn-warning" href="http://share.bmeonline.cn/admin-and-development/CloudSelect">点击进入</a>
    </div>
  </div>
</div>










