<div class="col-md-offset-1 col-sm-10">
  <div class="panel panel-default ">
    <div class="panel-body">
      <h3 class="text-center"><%= @course.name %></h3>
    </div>
  </div>
</div>
<div class="panel-group" id="accordion">
  <div class="col-md-offset-1 col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-align-justify" style="font-size:20px;color:primary">详情</span>
        </a>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><%= link_to "详细信息" ,show_more_1_course_path(@course)%></li>
          </ul>
          <br/> <br/>
          <div class="col-md-offset-1 col-sm-10">
          <h3>特殊目的要求</h3><br/>
            <%= @course.course_outline %>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
