<div class="col-md-offset-1 col-sm-10">
  <div class="panel panel-default ">
    <div class="panel-body">
      <h3 class="text-center"><%= @course.name %></h3>
    </div>
  </div>
</div>
<div class="panel-group" id="accordion">
  
</div>
